@import '../../../styles.scss';

*{
  display: block;
  margin: 0;
}
mat-card {
  display: inline-block;
  flex-wrap: wrap;
  padding: 50px;
  margin: 20px;
  width: 10%;
  border-radius: 5px;
  text-align: center;
  height: auto;
  background-color: white;
  font-weight: bold;
  &:hover {
      cursor: pointer;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }
}
mat-card-title{
  background-color: $minor_primary_color;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  width: 97.2%;
}
