<div class="stack">
    <mat-card *ngFor="let d of data" (click)="nav(d.courseName)" class="cards">
        <mat-card-title [(title)]="d.courseName">{{d.courseName}}</mat-card-title>
        <img src="{{d.icon}}" mat-card-image alt="{{d.courseName}} icon" width="100px">
    </mat-card>
    
    <mat-card (click)="navNew()">
        <mat-card-title> Add Assessment</mat-card-title>
        <img src="/assets/plus.png" mat-card-image alt="skill icon" width="100px">
    </mat-card>    
    <mat-card (click)="navNewQues()">
        <mat-card-title> Add question</mat-card-title>
        <img src="/assets/plus.png" mat-card-image alt="skill icon" width="100px">
    </mat-card>   
</div>
