<mat-card *ngFor="let d of data" (click)="onClick(d.courseId)" class="cards" >
    <mat-card-title [(title)]="d.courseName">{{d.courseName}}</mat-card-title>
    <img src="{{d.icon}}" mat-card-image alt="{{d.courseName}} icon" width="100px">
</mat-card>


<!-- <div id="theangular" *ngIf="displayArr[1]"  class="form">
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
    <h1>sahbdjashdha</h1>
</div> -->

<div *ngFor="let d of data">
    <app-assessment-form *ngIf="displayArr[d.courseId]" [courseData]="d.courseData"></app-assessment-form>
</div>
