@import '../../../styles.scss';

mat-card {
    display: inline-block;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    width: 12%;
    text-align: center;
    height: auto;
    background-color: white;
    font-weight: bold;
    &:hover {
        @include hover;
    }
}

.mat-list-base .mat-list-item {
    height: auto;
    display: inline-block;
    width: auto;
    margin-right: 20px;
}

hr {
    margin: 10px 0 30px 0;
}

.stack{
    text-align: center;
}
div.ng-star-inserted {
    display: inline;
}