.example-card {
  width: 500px;
  height: 250px;
  border: 3px solid rgb(206, 158, 228);
  background-color: whitesmoke;
}
mat-card-title{
  background-color: purple;
  padding: 8px;
  border-radius: 4px 4px 0 0;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
 color:white;

}
mat-card-header{
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-style: bold;
}
mat-card-actions{
  justify-content: center;  
  text-align: center;
  font-style: bold;
  color: purple;

}
mat-card-content{
  justify-content: center;
  text-align: center;
  font-style: bold;

}

.main-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
