@import '../../../styles.scss';

mat-card {
    display: inline-block;
    flex-wrap: wrap;
    padding: 50px;
    margin: 20px;
    width: 10%;
    text-align: center;
    height: auto;
    background-color: white;
    font-weight: bold;
    &:hover {
        @include hover;
    }
}