<mat-toolbar class="navbar">
  <span class="gap">Blog Homepage</span>
  <span class="filler"></span>
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span class="gap">Home</span>
  <span class="gap">Browse</span>
  <span class="gap">Explore</span>
</mat-toolbar>
<!-- change the styling of the desc div to centre the text in it -->

<div id="desc">
  <p>JavaScript related blog articles</p>
</div>

<div>
  <p>This is the blog article content area</p>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
