<p>articlescomments works!</p>

<form class="example-form">

  <mat-form-field class="example-full-width" appearance ="outline">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. Learning is a great ..."></textarea>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

  </mat-form-field>
</form>


<form class="example-form">

    <mat-form-field class="example-full-width" appearance ="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. Learning is a great ..."></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  
    </mat-form-field>
  </form>

<form class="example-form">

    <mat-form-field class="example-full-width" appearance ="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. Learning is a great ..."></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  
    </mat-form-field>
  </form>

<form class="example-form">

    <mat-form-field class="example-full-width" appearance ="outline">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. Learning is a great ..."></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  
    </mat-form-field>
  </form>

<!-- 	<mat-icon>done_outline</mat-icon> This is for verfied in future -->