<div id="theangular" class="form">
    <form [formGroup]="assesmentForm" (ngSubmit)="submitForm()">
        <mat-card *ngFor="let c of courseData">
            <mat-card-title>
                {{c['q']}}
            </mat-card-title>
            <mat-radio-group class="radio-group" formControlName="question">
                <mat-radio-button *ngFor="let op of c.options" class="radio-button" type="radio" value={{op.optAns}}>
                    {{op.opt}}</mat-radio-button>
            </mat-radio-group>
        </mat-card>
        <!-- <button [disabled]="assesmentForm.invalid " type="submit">submit</button> -->
        <button type="button" mat-raised-button >close</button>
        <button type="submit" mat-raised-button color="primary">submit</button>
    </form>
</div>