<div class="wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <i class="material-icons">
          person_outline &nbsp;&nbsp;
        </i>
        <span>Register</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="signupForm">
        <!-- USERNAME -->
        <div class="field">
          <i class="material-icons">
            account_circle &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User name</mat-label>
            <input matInput placeholder="Enter username" formControlName="userName">
          </mat-form-field>
        </div>

        <!-- PASSWORD -->
        <div class="field">
          <i class="material-icons">
            lock &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter password" formControlName="passWord">
          </mat-form-field>
        </div>

        <!-- EMAIL -->
        <div class="field">
          <i class="material-icons">
            email &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email address" formControlName="email">
          </mat-form-field>
        </div>

        <div class="field">
          <i class="material-icons">
            account_circle &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput placeholder="Enter First Name" formControlName="firstName">
          </mat-form-field>
        </div>

        <div class="field">
          <i class="material-icons">
            account_circle &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lastName">
          </mat-form-field>
        </div>

        <div class="field">
          <i class="material-icons">
            account_circle &nbsp; &nbsp;
          </i>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User types</mat-label>
            <mat-select formControlName="userType">
              <mat-option *ngFor="let type of userTypes" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- For message after hitting log in button -->
        <span class="message" *ngIf="message" [ngStyle]="styleMessage()">
          <i class="material-icons" *ngIf="hasErrors">
            close &nbsp;&nbsp;
          </i>
          <i class="material-icons" *ngIf="hasErrors === false">
            check &nbsp;&nbsp;
          </i>
          {{ message }}
        </span>

        <button [disabled]="!signupForm.valid" mat-raised-button color="primary"
                (click)="onRegister()">Register
        </button>

      </form>
    </mat-card-content>

    <div>Already have an account? <a [routerLink]="['/logIn']">Login</a></div>
  </mat-card>
</div>