.full-width {
  width: 100%;
}
form{
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  width: 12%;
  margin: auto;
  margin-top: 10%;
  box-shadow:3px 3px 5px 6px #ccc;
  text-align: center;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
