@import '../../../styles.scss';

.mat-list-base {
    margin-top: 5%;
    .mat-list-item {
        height: auto;
        display: inline-block;
        width: auto;
    }
}

.mat-fab {
    @include backButton
}

.courseName {
    position: absolute;
    top: 10%;
    left: 45%;
}