<mat-accordion>
    <mat-expansion-panel style="margin-top: 100px;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Angular
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list role="list">
            <mat-label>Angular</mat-label>
            <mat-list-item role="listitem">
                <a href="https://angular.io/" target="_blank">https://angular.io/</a>
            </mat-list-item>
            <mat-label>Angular Blog</mat-label>
            <mat-list-item role="listitem"><a href="https://blog.angular.io/" target="_blank">https://blog.angular.io/</a>
            </mat-list-item>
            <mat-label>Angular Material</mat-label>
            <mat-list-item role="listitem"><a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                JavaScript
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list role="list">
            <mat-list-item role="listitem"><a
                    href="https://tutorialzine.com/2017/08/converting-from-speech-to-text-with-javascript"
                    target="_blank">https://tutorialzine.com/2017/08/converting-from-speech-to-text-with-javascript</a>
            </mat-list-item>
            <mat-list-item role="listitem"><a
                    href="https://tutorialzine.com/2017/08/image-zoom-library-with-vanilla-javascript"
                    target="_blank">https://tutorialzine.com/2017/08/image-zoom-library-with-vanilla-javascript</a>
            </mat-list-item>
            <mat-list-item role="listitem"><a
                    href="https://tutorialzine.com/2017/04/handle-mouse-and-touch-input-with-the-pointer-events-api"
                    target="_blank">https://tutorialzine.com/2017/04/handle-mouse-and-touch-input-with-the-pointer-events-api</a>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                NodeJS
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list role="list">
            <mat-list-item role="listitem"><a href="https://www.google.com" target="_blank">https://www.google.com</a>
            </mat-list-item>
            <mat-list-item role="listitem"><a href="https://www.google.com" target="_blank">https://www.google.com</a>
            </mat-list-item>
            <mat-list-item role="listitem"><a href="https://www.google.com" target="_blank">https://www.google.com</a>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Self aware panel
            </mat-panel-title>
            <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel> -->
</mat-accordion>