/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css?family=Slabo+27px&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$minor_primary_color: #AD81C0;