<mat-card>
  <div class="header">
    <h1 class="mat-display-1">Welcome to your profile</h1>
  </div>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons user-circle" [style.font-size]="'45px'">
        account_circle &nbsp; &nbsp;
      </i>
    </div>
    <mat-card-title>{{ currentUser.firstName }} {{ currentUser.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ currentUser.userName }} | {{ currentUser.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Your role: &nbsp; {{ currentUser.userType }}
    </p>
  </mat-card-content>
</mat-card>